/* header {
    background: var(--secondary);
    padding: 30px 25px;
    border-bottom: 5px solid var(--primary);
  } */

  article{
      width:80%;
      height:70%;
      color:darkgrey;
  }

header div {
    display:inline-block;
}

header .high-scores {
    float: left;
}

header .time-left {
    float: right;
}

main article {
    font-weight: bold;
}